/* Your CSS Code here. */
.holder{
	
	height: 100vh;
	border: 2px solid blue;
	display: grid;
	grid-template-columns: repeat(2, 100px);
	grid-template-row: repeat(2, 100px);
	justify-content: center;
	align-items: center;
	
}
.item {
	height: 80px;
	width: 80px;
	background-color: blue;
	color: white;
	
}

